.env*
.env.*
*/__pycache__
__pycache__
.vscode

assets/index-*
manifest.json
index.html
transfer.py

credentials.*
/credentials.*
credentials.json
token.json
token.*
!token.py
sa_key.*
sa_key.json

*.pem
*.crt
*.key

app/qdrant
app/qdrant.*
app/qdrant/*

*.log

/test*.json

/*.diff

.coverage
.coverage.*

coverage.xml

database/dev

bws*
target
meili_data
supabase
.war_machine
